<template>
    <div class="page noMember">
        <div class="rel ctx">
            <img class="abs pintu1" src="@/images/1.png" alt="">
            <img class="abs pintu2" src="@/images/2.png" alt="">
            <img class="abs pintu3" src="@/images/3.png" alt="">

            <div class="rel logo">
                <img src="@/images/logo.png" alt="">
            </div>
            <div class="rel title">
                <img src="@/images/notMember/title.png" alt="">
            </div>
            <div class="rel img">
                <img src="@/images/img.png" alt="">
            </div>
            <div class="rel txt">
                <img src="@/images/notMember/txt.png" alt="">
            </div>
            <div class="rel lijibangding" @click="lijibangding">
                <img src="@/images/notMember/lijibangding.png" alt="">
            </div>
        </div>

    </div>
</template>


<style lang="scss" scoped src="./noMember.scss"></style>


<script>
    export default {
        name: 'noMember',
        data() {
            return {}
        },
        mounted() {
            this.onInit();
        },
        methods: {
            onInit() {},
            lijibangding() {
                location.href = "http://campaign.lancome.com.cn/membercard2019/?r_url=" + encodeURIComponent(location
                    .href);
            }
        },
    }
</script>