.noMember {
    .logo {
        width: 364/100+rem;
        margin: 0 auto;
        padding-top: .95rem;
    }
    .title {
        width: 302/100+rem;
        margin: 0 auto;
        margin-top: .25rem;
    }
    .img {
        width: 301/100+rem;
        margin: 0 auto;
        margin-top: 1.15rem;
    }
    .txt {
        width: 453/100+rem;
        margin: 0 auto;
        margin-top: 1.15rem;
    }
    .lijibangding {
        width: 292/100+rem;
        margin: 0 auto;
        margin-top: .45rem;
    }
}