<template>
    <div class="page online">
        <div class="rel ctx">
            <div v-show="!isClick">
                <img class="abs pintu1" src="@/images/1.png" alt="">
                <img class="abs pintu2" src="@/images/2.png" alt="">
                <img class="abs pintu3" src="@/images/3.png" alt="">
                <div class="rel logo">
                    <img src="@/images/logo.png" alt="">
                </div>
                <div class="rel title">
                    <img src="@/images/title.jpg" alt="">
                </div>
                <div class="rel img">
                    <img src="@/images/img.png" alt="">
                </div>
                <div class="rel btn_info" @click="showInfo">
                    <img src="@/images/online/btn_info.png" alt="">
                </div>
                <div class="rel btn_getStore" @click="getStore">
                    <img src="@/images/online/btn_getStore.png" alt="">
                </div>

            </div>
            <div v-show="isClick">
                <img src="@/images/online/1.jpg" alt="">
                <img src="@/images/online/2.jpg" alt="">
                <img src="@/images/online/3.jpg" alt="">
                <img src="@/images/online/4.jpg" alt="">
                <img src="@/images/online/5.jpg" alt="">
            </div>
        </div>

    </div>
</template>


<style lang="scss" scoped src="./online.scss"></style>


<script>
    export default {
        name: 'Online',
        data() {
            return {
                isClick: false
            }
        },
        created() {

        },
        mounted() {
            this.onInit();
        },
        methods: {
            onInit() {},
            showInfo() {
                this.isClick = true;
                document.body.classList.add('noscroll')
            },
            getStore() {
                location.href = "http://wx.lancome.com.cn/map/index.html"
            },
        },
        destroyed() {
            document.body.classList.remove('noscroll')
        },
    }
</script>