.online {
    .logo {
        width: 364/100+rem;
        margin: 0 auto;
        padding-top: .95rem;
    }
    .title {
        width: 580/100+rem;
        margin: 0 auto;
        margin-top: .25rem;
    }
    .img {
        width: 301/100+rem;
        margin: 0 auto;
        margin-top: 1.1rem;
    }
    .btn_info {
        width: 292/100+rem;
        margin: 0 auto;
        margin-top: 0.9rem;
    }
    .btn_getStore {
        width: 292/100+rem;
        margin: 0 auto;
        margin-top: 0.2rem;
    }
}