<template>
    <div class="page final">
        <div class="rel ctx">
            <img class="abs pintu1" src="@/images/1.png" alt="">
            <img class="abs pintu2" src="@/images/2.png" alt="">
            <img class="abs pintu3" src="@/images/3.png" alt="">

            <div class="rel logo">
                <img src="@/images/logo.png" alt="">
            </div>
            <div class="rel line">
                <img src="@/images/line.png" alt="">
            </div>
            <div class="rel userName">
                <p ref="userNameVal" class="userNameVal"></p>
            </div>
            <div class="rel final_txt">
                <img src="@/images/final_txt.png" alt="">
            </div>
            <div class="rel final_img2">
                <img src="@/images/final_img2.png" alt="">
                <div class="abs final_num">
                    <img :src="battleImg" alt="">
                </div>
            </div>
            <div class="rel final_txt2">
                <img src="@/images/final_txt2.png" alt="">
            </div>
            <div class="rel queren" @click="queren">
                <!-- <img src="@/images/queren.png" alt=""> -->
            </div>


        </div>

    </div>
</template>


<style lang="scss" scoped src="./final.scss"></style>


<script>
    export default {
        data() {
            return {
                battleImg: '',
                battleImg1: require('@/images/final_1.png'),
                battleImg2: require('@/images/final_2.png'),
                battleImg3: require('@/images/final_3.png'),
                battleImg4: require('@/images/final_4.png'),
                battleImg5: require('@/images/final_5.png'),
            }
        },
        mounted() {
            this.onInit();
        },
        methods: {
            onInit() {
                this.$refs.userNameVal.innerText = this.$store.state.userInfo.name || '兰蔻会员'

                const battleNum = this.$store.state.userInfo.time
                this.battleImg = this['battleImg' + battleNum]
            },
            queren() {

            }
        },
    }
</script>