.final {
    .pintu2 {
        top: 6rem
    }
    .logo {
        width: 364/100+rem;
        margin: 0 auto;
        padding-top: .95rem;
    }
    .line {
        width: 495/100+rem;
        margin: 0 auto;
        margin-top: .37rem;
    }
    .userName {
        width: 443/100+rem;
        margin: 0 auto;
        margin-top: .6rem;
        .userNameVal {
            font-size: 36/100+rem;
        }
    }
    .final_txt {
        width: 300/100+rem;
        margin: 0 auto;
        margin-top: .6rem;
    }
    .final_img2 {
        width: 216/100+rem;
        margin: 0 auto;
        margin-top: .6rem;
        .final_num {
            width: 55/100+rem;
            top: 50%;
            left: 13%;
            font-size: 28px;
        }
    }
    .final_txt2 {
        width: 418/100+rem;
        margin: 0 auto;
        margin-top: .75rem;
    }
    .queren {
        width: 292/100+rem;
        margin: 0 auto;
        margin-top: .5rem;
    }
}