<template>
    <div class="page home">
        <!-- <div class="rel ctx"> -->
        <router-view v-if="hackReset" />
        <!-- </div> -->

    </div>
</template>


<style lang="scss" scoped src="./home.scss"></style>


<script>
    export default {
        name: 'home',
        data() {
            return {
                hackReset: false,
            }
        },
        mounted() {
            this.onInit();
        },
        methods: {
            onInit() {
                this.checkOauth(this.checkInfo)

                // this.$store.commit('setUserInfo', {
                //     name: '兰蔻会员',
                //     time: 1,
                //     isMember: true
                // })
                // this.afterCheckInfo()

            },
            checkOauth() {

                let _params = this._GLOBAL.qs.stringify({
                    // siteurl: location.href
                });

                this.axios({
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                            // "Content-Type": "application/json"
                    },
                    url: "api/service/VerifyOauth",
                    data: _params
                }).then(
                    response => {
                        console.log(response);
                        const data = response.data;

                        if (!data.success) {
                            location.replace("https://campaign.lancome.com.cn/recycle/Wechat/Oauth2?siteurl=" +
                                window.location.href.split('#')[0]);
                        } else {

                            this.checkInfo(this.afterCheckInfo)
                        }
                    },
                    reject => {
                        // 网络异常
                        alert('网络异常,请稍后再试.')
                    }
                );
            },
            checkInfo(callback) {

                let _params = this._GLOBAL.qs.stringify({

                });

                this.axios({
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                            // "Content-Type": "application/json"
                    },
                    url: "api/service/VerifyBind",
                    data: _params
                }).then(
                    response => {
                        console.log(response);
                        const data = response.data;

                        if (data.success) {
                            if (data.data) {
                                this.$store.commit('setUserInfo', {
                                    name: data.data.username,
                                    time: data.data.number,
                                    isMember: true
                                })
                            } else {
                                this.$store.commit('setUserInfo', {
                                    isMember: false
                                })
                            }
                            callback && callback()
                        } else {
                            console.log(response)
                        }
                    },
                    reject => {
                        // 网络异常
                        alert('网络异常,请稍后再试..')
                            // this.Utils.$router.push('online')
                    }
                );
            },
            afterCheckInfo() {

                // 判断不是会员，跳转
                if (!this.$store.state.userInfo.isMember) {
                    this.Utils.$router.push('noMember')
                }

                // 如果是线上公众号渠道，跳转
                if (this.Utils.$url.getQueryParameter('mpwx')) {
                    console.log('公众号渠道')
                    this.Utils.$router.push('online')
                } else {
                    console.log('offline')
                    this.updateView()
                }
            },
            updateView() {
                this.hackReset = false;
                this.$nextTick(() => {
                    this.hackReset = true
                })
            },
        },
    }
</script>