<template>
    <div>
        <div v-for="(item,index) in componentsList" :key="index"
            :class="`abs pageBox pageBox`+(++index)+` `+(item.display?'':'js-none')" :ref="item.componentName">
            <component v-bind:is="item.componentName" v-on:listenPChange="showMsgFromChild"></component>
        </div>

        <!-- <div ref="loading" style="position:absolute;width:1rem;top: 50%;left: 50%;transform: translate3d(-50%,-50%,0);">
            <img src="@/images/loading.gif" alt="">
        </div> -->
        <!-- 浮层 -->
        <floatinglayer ref="floatinglayer" v-on:listenfloatinglayerevent="showMsgFromFloatinglayer"></floatinglayer>
    </div>
</template>

<style lang="scss" scoped>

</style>

<script type="text/javascript">
    import page1 from './page1/page1.vue'
    import final from './final/final.vue'
    import floatinglayer from "../components/FloatingLayer.vue"

    export default {
        name: 'Hello',
        components: {
            page1,
            final,
            floatinglayer
        },
        created() {
            //实例创建完成后
            // console.log('---- created');
        },
        data() {
            return {
                componentsList: [{
                    componentName: 'page1',
                    display: 0,
                }, {
                    componentName: 'final',
                    display: 0,
                }, ],
                showIndex: false,
            }
        },
        created() {
            //page3 $emit
            // this._GLOBAL.eventBus.$on('showIndex', () => {

            //     // if (this._GLOBAL.device.wechat && !this.showIndex) return;

            //     this.$refs.loading.style.display = 'none';
            //     this.componentsList[0].display = 1;
            // })
        },
        computed: {

        },
        mounted() { //页面加载完成后执行
            // console.log('---- mounted');
            this.onInit();
        },
        methods: {
            onInit() {
                if (this._GLOBAL.isDevtools || (this._GLOBAL.device.wechat && this._GLOBAL.userInfo.openId)) {
                    this.getVerifyInfo()
                }
            },

            showMsgFromFloatinglayer(data) {
                if (data[0] == "isPart" && data[1] == "done") {
                    WeixinJSBridge.call('closeWindow');
                    _gsq.push(['T', 'GWD-002249', 'trackEvent', 'glp190606', '重复预约']);
                }
            },
            showMsgFromChild(data) {
                console.log('way', data)
                if (data[0] == 'to') {
                    this.componentsList.map((val, i) => {
                        //页面路径在数组里的就显示，否则就淡出
                        if (this.componentsList[i].componentName == data[1]) {
                            let ele = this.$refs[data[1]][0];
                            this.Utils.$An.fadeIn(ele, {
                                callback: () => {
                                    this.componentsList[i].display = true;
                                }
                            })
                        } else {
                            let ele = this.$refs[this.componentsList[i].componentName][0];
                            this.Utils.$An.fadeOut(ele, {
                                callback: () => {
                                    this.componentsList[i].display = false;
                                }
                            })
                        }
                    })

                }
            },
            // check
            getVerifyInfo() {
                const _timestamp = this.Utils.$url.getTime();
                const _key = this._GLOBAL.data.key;

                let _params = this._GLOBAL.qs.stringify({
                    'sign': this.$md5(_key + _timestamp).substring(0, 8),
                    'timestamp': _timestamp,
                    'openId': this._GLOBAL.userInfo.openId
                })

                this.axios({
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    url: '/LancomeEyes/Participation',
                    data: _params
                }).then(response => {
                    console.log(response)
                    const data = response.data;
                    if (data.Status) {

                        this.componentsList[0].display = 1;
                        this.$refs.floatinglayer.$emit('show', 'isPart');


                        if (window._gsTracker) {
                            _gsTracker.track('/targetpage/glp190606-pv4');
                        }

                    } else {
                        this.componentsList[0].display = 1;
                    }

                    if (window._gsTracker) {
                        _gsTracker.track('/targetpage/glp190606-pv1');
                    }

                }, reject => {
                    this.componentsList[0].display = 1;

                    if (window._gsTracker) {
                        _gsTracker.track('/targetpage/glp190606-pv1');
                    }
                })
            },
        },
    }
</script>