.home {
    .pintu2 {
        top: 6rem
    }
    .logo {
        width: 364/100+rem;
        margin: 0 auto;
        padding-top: .95rem;
    }
    .title2 {
        width: 495/100+rem;
        margin: 0 auto;
        margin-top: .37rem;
    }
    .img {
        width: 313/100+rem;
        margin: 0 auto;
        margin-top: .35rem;
    }
    .number {
        width: 443/100+rem;
        margin: 0 auto;
        margin-top: .5rem;
        .numberVal {
            position: absolute;
            width: 1rem;
            top: -40%;
            left: 50%;
            font-family: serif;
            font-style: italic;
            // font-weight: bold;
            font-size: 27px;
            color: #00af9b;
        }
    }
    .lijicanyu {
        width: 292/100+rem;
        margin: 0 auto;
        margin-top: .25rem;
    }
}