<template>
    <div class="page home">
        <div class="rel ctx">
            <img class="abs pintu1" src="@/images/1.png" alt="">
            <img class="abs pintu2" src="@/images/2.png" alt="">
            <img class="abs pintu3" src="@/images/3.png" alt="">

            <div class="rel logo">
                <img src="@/images/logo.png" alt="">
            </div>
            <div class="rel title2">
                <img src="@/images/title2.png" alt="">
            </div>
            <div class="rel img">
                <img src="@/images/img2.png" alt="">
            </div>
            <div class="rel number">
                <img src="@/images/number.png" alt="">
                <span ref="numberVal" class="numberVal">{{numberVal}}</span>
            </div>
            <div class="rel lijicanyu" @click="lijicanyu">
                <img src="@/images/lijicanyu.png" alt="">
            </div>
        </div>

        <router-view />
    </div>
</template>


<style lang="scss" scoped src="./homeIndex.scss"></style>


<script>
    export default {
        name: 'homeIndex',
        data() {
            return {
                numberVal: ''
            }
        },
        mounted() {
            this.onInit();
        },
        computed: {},
        methods: {
            onInit() {
                this.numberVal = 5 - this.$store.state.userInfo.time

            },
            lijicanyu() {

                if (this.$store.state.userInfo.time < 5) {
                    this.Utils.$router.push('infoForm')
                } else {
                    this.Utils.$router.push('final')
                }
            }
        },
    }
</script>