.form {
    .pintu2 {
        top: 6rem
    }
    .logo {
        width: 364/100+rem;
        margin: 0 auto;
        padding-top: .95rem;
    }
    .line {
        width: 495/100+rem;
        margin: 0 auto;
        margin-top: .37rem;
    }
    .userName {
        width: 443/100+rem;
        margin: 0 auto;
        margin-top: .6rem;
        .userNameVal {
            font-size: 36/100+rem;
        }
    }
    input,
    select {
        width: 100%;
        background: transparent;
        color: #000;
        font-size: 0.36rem;
        text-align: center;
        border: none;
        appearance: none;
        outline: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    input::-webkit-input-placeholder {
        color: #000;
    }
    input {
        height: 0.5rem;
    }
    .form {
        width: 366/100+rem;
        margin: 0 auto;
        margin-top: .5rem;
        .inputBox {
            // border: 1px solid #000;
            &.number {
                width: 1.6rem;
                top: -0.1rem;
                right: 0;
            }
            &.code {
                width: 2.4rem;
                bottom: 0;
                right: 0;
            }
        }
    }
    .img {
        width: 313/100+rem;
        margin: 0 auto;
        margin-top: .7rem;
    }
    .querentijiao {
        width: 292/100+rem;
        margin: 0 auto;
        margin-top: .6rem;
    }
}