<template>
    <div class="page form">
        <div class="rel ctx">
            <img class="abs pintu1" src="@/images/1.png" alt="">
            <img class="abs pintu2" src="@/images/2.png" alt="">
            <img class="abs pintu3" src="@/images/3.png" alt="">

            <div class="rel logo">
                <img src="@/images/logo.png" alt="">
            </div>
            <div class="rel line">
                <img src="@/images/line.png" alt="">
            </div>
            <div class="rel userName">
                <p ref="userNameVal" class="userNameVal"></p>
            </div>
            <div class="rel form">
                <img src="@/images/form.png" alt="">

                <div class="inputBox abs number flexChild">
                    <input ref="numberVal" class="rel inputBoxItem numberVal" @change="changeNumber" @blur="blurNumber"
                        type="tel" maxlength="1" value="" name="" placeholder="" />
                </div>
                <div class="inputBox abs code flexChild">
                    <input ref="codeVal" class="rel inputBoxItem codeVal" @change="changeCode" @blur="blurCode"
                        type="password" name="" maxlength="5" placeholder="" />
                </div>
            </div>
            <!--  -->
            <div class="rel img">
                <img src="@/images/img.png" alt="">
            </div>
            <div class="rel querentijiao" @click="querentijiao">
                <img src="@/images/querentijiao.png" alt="">
            </div>
        </div>

        <!-- 浮层 -->
        <floatinglayer ref="floatinglayer" v-on:listenfloatinglayerevent="showMsgFromFloatinglayer"></floatinglayer>

    </div>

</template>

<style lang="scss" scoped src="./form.scss"></style>

<script>
    import floatinglayer from "../../components/FloatingLayer.vue"
    export default {
        name: 'infoForm',
        components: {
            floatinglayer
        },
        data() {
            return {

            }
        },
        mounted() {
            this.onInit()
        },
        methods: {
            onInit() {
                this.$refs.userNameVal.innerText = this.$store.state.userInfo.name || '兰蔻会员'
            },
            querentijiao() {

                // 表单验证
                this.checkForm(() => {
                    this.$refs.floatinglayer.$emit("show", [
                        "needQueren",
                        this.$refs.numberVal.value
                    ]);
                })
            },
            showMsgFromFloatinglayer(data) {
                if (data[0] == "needQueren" && data[1] == "done") {

                    if (!this.Utils.$MethodFrequencyCheck.throttleBoolean(3000)) return
                    this.sendInfo()
                }

                if (data[0] == "getSuccess" && data[1] == "done") {
                    this.Utils.$router.push('final')
                }
            },

            changeNumber() {},
            changeCode() {},
            blurNumber() {
                this.changeIOSWH();
            },
            blurCode() {
                this.changeIOSWH();
            },
            changeIOSWH() {
                setTimeout(function() {
                    var scrollHeight = document.documentElement.scrollTop || document.body.scrollTop || 0;
                    window.scrollTo(0, Math.max(scrollHeight - 1, 0));
                }, 300);
            },

            checkForm(callback) {
                // if (!this.canSave) return;

                let checkList = new this.Utils.checkList();

                if (checkList.checkNumNotNull(this.$refs.numberVal.value, '空瓶数量不能为空') && checkList.checkCodeNum(this
                        .$refs.codeVal.value, 5, '请输入核销码')) {
                    callback && callback()
                }
            },
            sendInfo() {

                // this.$store.commit('setUserInfo', {
                //     time: 5
                // })

                // this.$refs.floatinglayer.$emit("show", ["getSuccess"]);

                // return;



                let _params = this._GLOBAL.qs.stringify({
                    Number: this.$refs.numberVal.value,
                    Code: this.$refs.codeVal.value
                });

                this.axios({
                    method: "POST",
                    headers: {
                        // "Content-Type": "application/x-www-form-urlencoded"
                    },
                    url: "api/service/RecycleSave",
                    data: _params
                }).then(
                    response => {
                        console.log(response);
                        const data = response.data;

                        if (data.success) {
                            var _time = this.$store.state.userInfo.time;
                            this.$store.commit('setUserInfo', {
                                time: _time * 1 + this.$refs.numberVal.value * 1
                            })
                            this.$refs.floatinglayer.$emit("show", ["getSuccess"]);
                        } else {
                            alert(data.msg)
                        }

                    },

                    reject => {
                        // 网络异常
                        alert('网络异常,请稍后再试')
                    }
                );
            }
        }
    };
</script>