<template>
    <div style="height:100%;">
        <router-view />
        <!-- <mainpage></mainpage> -->
        <!-- <wechat-share ref="wechatshare"></wechat-share> -->
    </div>
</template>
<script>
    // import mainpage from './pages/main.vue'

    // import WechatShare from './components/WechatShare.vue'

    export default {
        // components: {
        // 'wechat-share': WechatShare,
        // mainpage
        // },
        mounted() {
            if (this._GLOBAL.device.wechat) {
                this.wxShare()
            }



        },
        methods: {
            wxShare() {
                // this.$refs.wechatshare.$emit('useShare');
            },

        },
    }
</script>