<template>
    <div class="page page1" v-show="isPage1Onload">
        <div class="rel ctx">
            <img src="@/images/p1.jpg" @load="page1Onload" alt="" />
            <div class="abs title">
                <img src="@/images/title.png" alt="" />
            </div>
            <div class="abs txt">
                <img src="@/images/p1_txt.png" alt="" />
            </div>
            <div class="abs formBox">
                <div class="rel selectBox">
                    <div class="rel inputBox selectBoxItem province_area">
                        <i class="selectIcon"></i>
                        <select ref="province_sec" class="inputBoxItem province_sec" @change="changeProvince"
                            @blur="blurProvince" name="" id="">
                            <option v-for="(item,index) in provinceList" :key="index" :value="item">
                                {{ item }}</option>
                        </select>
                    </div>
                    <div class="rel inputBox selectBoxItem city_area">
                        <i class="selectIcon"></i>
                        <select ref="city_sec" class="inputBoxItem city_sec" @change="changeCity" @blur="blurCity"
                            name="" id="">
                            <option v-for="(item,index) in cityList" :key="index" :value="item">
                                {{ item }}</option>
                        </select>
                    </div>
                </div>
                <div class="rel inputBox store_area">
                    <i class="selectIcon"></i>
                    <select ref="store_sec" class="inputBoxItem store_sec" @change="changeStore" @blur="blurStore"
                        name="" id="">
                        <option v-for="(item,index) in storeList" :key="index" :value="item">
                            {{ item }}</option>
                    </select>
                </div>
                <div class="rel inputBox time_area">
                    <i class="selectIcon"></i>
                    <select ref="time_sec" class="inputBoxItem time_sec" @change="changeTime" @blur="blurTime" name=""
                        id="">
                        <option v-for="(item,index) in timeList" :key="index" :value="item">
                            {{ item }}</option>
                    </select>
                </div>

                <div class="inputBox rel name flexChild">
                    <input ref="nameVal" class="rel inputBoxItem nameVal" @change="changeName" @blur="blurName"
                        type="text" name="" maxlength="18" placeholder="请输入您的名字" />
                </div>
                <div class="inputBox rel phone flexChild">
                    <input ref="phoneNum" id="phoneNum" class="rel inputBoxItem phoneVal" @change="changePhone"
                        @blur="blurPhone" type="tel" maxlength="11" value="" name="" placeholder="请输入您的电话号码" />
                    <div class="abs getCodeBox" @click="getValidateCode">
                        <div class="abs center centerh getCodeTxt">
                            <span v-if="!isGetSmsCode">获取验证码</span>
                            <span v-else>{{ getSmsCodeTime }}</span>
                        </div>
                    </div>
                </div>

                <!-- <div class="clearfix"> -->
                <div class="inputBox rel code flexChild">
                    <input ref="codeNum" class="rel inputBoxItem codeVal" @change="changeCode" @blur="blurCode"
                        type="text" name="" maxlength="4" placeholder="请输入验证码" />
                </div>
                <!-- </div> -->

                <div :class="clickAgree?'rel privacyBox active':'rel privacyBox'" @click="chsAgree">
                    <i></i>
                    <img src="@/images/privacy.png" alt="" />
                    <!-- <span class="abs privacyBtn" ref="privacyBtn"></span> -->
                </div>
                <div class="rel mcenter btn" ref="page1Btn" @click="clickNextPage">
                    <img src="@/images/p1_btn.png" alt="" />
                </div>
            </div>
        </div>

        <!-- 浮层 -->
        <floatinglayer ref="floatinglayer" v-on:listenfloatinglayerevent="showMsgFromFloatinglayer"></floatinglayer>
    </div>
</template>

<style lang="scss" scoped src="./page1.scss"></style>

<script>
    import floatinglayer from "../../components/FloatingLayer.vue"
    export default {
        name: 'page1',
        components: {
            floatinglayer
        },
        data() {
            return {
                isPage1Onload: false,

                clickAgree: false,
                isGetSmsCode: false,
                getSmsCodeTime: "60s",

                storeObj: {},

                allList: [],
                provinceList: ["选择省份"],
                chsProvinceList: [], //保存的所选省份下的数组，减少map
                cityList: ["选择城市"],
                storeList: ["选择柜台"],
                timeList: ["选择时间", "2019-06-06", "2019-06-07", "2019-06-08", "2019-06-09", "2019-06-10", "2019-06-11",
                    "2019-06-12", "2019-06-13"
                ],

                canSave: true,
            };
        },
        mounted() {},
        methods: {
            page1Onload() {
                this.isPage1Onload = true;
                this.onInit();
            },
            onInit() {
                // this._GLOBAL.data.preventDefault = false;
                this.getStore();
            },
            clickNextPage1() {
                // if (this._GLOBAL.userInfo.verifyInfo && this._GLOBAL.userInfo.verifyInfo.userinfo) {
                //     this.$emit('listenPChange', ['to', 'page3']);
                // } else {
                // this.$emit('listenPChange', ['to', 'final']);
                // }
            },

            timeCountDown: function() {
                let smsCodeData = {
                    changeSmsCode: "获取验证码",
                    smsCodenowTime: 60,
                    smsCodemaxTime: 60,
                    smsCodetTime: "" //获取的时间
                };
                let st = "";

                let _refreshSmsCodeData = function(_this) {
                    clearTimeout(st);
                    smsCodeData = {
                        changeSmsCode: "获取验证码",
                        smsCodenowTime: 60,
                        smsCodemaxTime: 60,
                        smsCodetTime: ""
                    };
                    _this.isGetSmsCode = false;
                };

                let _startChangeTime = function(_this, callback) {
                    if (smsCodeData.smsCodetTime == null) {
                        smsCodeData.smsCodetTime = new Date().getTime();
                    } else {
                        let t2 = new Date().getTime();
                        console.log(t2 - smsCodeData.smsCodetTime);
                        if (
                            t2 - smsCodeData.smsCodetTime <
                            smsCodeData.smsCodemaxTime * 1000
                        ) {
                            smsCodeData.smsCodetTime = t2;
                            return false;
                        } else {
                            smsCodeData.smsCodetTime = t2;
                        }
                    }
                    callback && typeof callback === "function" && callback();
                    _changeTimeNext(_this);
                };

                let _changeTimeNext = function(_this) {
                    let changeSmsCode = "smsCodeData.changeSmsCode";
                    // console.log(smsCodeData.smsCodenowTime)
                    if (smsCodeData.smsCodenowTime == 0) {
                        smsCodeData.changeSmsCode = "获取验证码";
                        smsCodeData.smsCodenowTime = smsCodeData.smsCodemaxTime;
                        smsCodeData.smsCodetTime = "";

                        _this.isGetSmsCode = false;
                        _this.getSmsCodeTime = smsCodeData.smsCodenowTime + "s";

                        clearTimeout(st);
                    } else {
                        smsCodeData.changeSmsCode = smsCodeData.smsCodenowTime;

                        _this.getSmsCodeTime = smsCodeData.smsCodenowTime + "s";

                        smsCodeData.smsCodenowTime--;

                        st = setTimeout(function() {
                            _changeTimeNext(_this);
                        }, 1000);
                    }
                };
                return {
                    startChangeTime: function(_this, callback) {
                        console.log("正在获取中", this);

                        if (_this.isGetSmsCode) {
                            console.log("已经获取了");
                            return false;
                        } else {
                            _startChangeTime(_this, callback);
                            _this.isGetSmsCode = true;
                            return true;
                        }
                    },
                    refreshChangeTime: function(_this, callback) {
                        console.log("重新计时");
                        _refreshSmsCodeData(_this);
                    }
                };
            },

            sendSMSCode() {
                const _timestamp = this.Utils.$url.getTime();
                const _key = this._GLOBAL.data.key;

                let _params = this._GLOBAL.qs.stringify({
                    mobile: this.$refs.phoneNum.value,
                    sign: this.$md5(_key + _timestamp).substring(0, 8),
                    timestamp: _timestamp
                });

                this.axios({
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    url: "/LancomeEyes/GetMsgVerifyCode",
                    data: _params
                }).then(
                    response => {
                        console.log(response);
                        const data = response.data;

                    },
                    reject => {
                        // 网络异常
                        this.$refs.floatinglayer.$emit("show", "noNetWork");

                        if (window._gsTracker) {
                            _gsTracker.track('/targetpage/glp190606-pv3');
                        }
                    }
                );
            },

            getStore() {
                const _timestamp = this.Utils.$url.getTime();
                const _key = this._GLOBAL.data.key;

                let _params = this._GLOBAL.qs.stringify({
                    sign: this.$md5(_key + _timestamp).substring(0, 8),
                    timestamp: _timestamp
                });

                this.axios({
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    url: "/LancomeEyes/GetProvincialCounters",
                    data: _params
                }).then(
                    response => {
                        console.log(response);
                        const data = response.data;

                        this.allList = data.data;
                        this.getProvinceList(data.data);
                    },
                    reject => {
                        // 网络异常
                        this.$refs.floatinglayer.$emit('show', 'noNetWork');

                        if (window._gsTracker) {
                            _gsTracker.track('/targetpage/glp190606-pv3');
                        }
                    }
                );
            },

            // [{'Province':'','City':'','CounterName':''}]
            getProvinceList(arr) {
                var provinceArr = [],
                    _provinceArr = [];
                arr.map(i => {
                    let item = i["Province"];
                    if (!provinceArr[item]) {
                        provinceArr[item] = 1;
                        _provinceArr.push(item);
                    }
                });
                this.provinceList = [this.provinceList[0], ..._provinceArr];
            },
            // 临时的所选省份数组
            saveChsProvinceList(arr, province, provinceName) {
                let cityArr = arr.filter((item, index) => {
                    return item[province] == provinceName;
                });
                this.chsProvinceList = cityArr;
            },
            getCityList(arr, provinceName) {
                var getCity = (arr, province, city, provinceName) => {
                    let cityArr = [];
                    arr.map(item => {
                        if (item[province] == provinceName) {
                            cityArr.push(item[city]);
                        }
                    });
                    this.cityList = Array.from(new Set([this.cityList[0], ...cityArr]));
                };
                getCity(arr, "Province", "City", provinceName);
            },
            getStoreList(arr, cityName) {
                var getStore = (arr, city, store, cityName) => {
                    let storeArr = [];
                    arr.map(item => {
                        if (item[city] == cityName) {
                            storeArr.push(item[store]);
                        }
                    });
                    this.storeList = [this.storeList[0], ...storeArr];
                };
                getStore(arr, "City", "CounterName", cityName);
            },
            changeProvince() {
                let _city = this.cityList[0];
                this.cityList = []
                this.cityList.push(_city);

                let _store = this.storeList[0];
                this.storeList = []
                this.storeList.push(_store);

                // let _time = this.timeList[0];
                // this.timeList = []
                // this.timeList.push(_time);

                this.$nextTick(() => {
                    this.saveChsProvinceList(this.allList, "Province", this.$refs.province_sec.value);
                    this.getCityList(this.chsProvinceList, this.$refs.province_sec.value);
                })
            },
            changeCity() {
                let _store = this.storeList[0];
                this.storeList = []
                this.storeList.push(_store);

                // let _time = this.timeList[0];
                // this.timeList = []
                // this.timeList.push(_time);

                this.$nextTick(() => {
                    this.getStoreList(this.chsProvinceList, this.$refs.city_sec.value);
                })
            },
            changeStore() {},
            changeTime() {},
            changeName() {},
            changePhone() {},
            changeCode() {},

            blurProvince() {
                this.changeIOSWH();
            },
            blurCity() {
                this.changeIOSWH();
            },
            blurStore() {
                this.changeIOSWH();
            },
            blurTime() {
                this.changeIOSWH();
            },
            blurName() {
                this.changeIOSWH();
            },
            blurPhone() {
                this.changeIOSWH();
            },
            blurCode() {
                this.changeIOSWH();
            },
            changeIOSWH() {
                setTimeout(function() {
                    var scrollHeight = document.documentElement.scrollTop || document.body.scrollTop || 0;
                    window.scrollTo(0, Math.max(scrollHeight - 1, 0));
                }, 300);
            },

            saveUserInfo(postData, callback) {
                const _timestamp = this.Utils.$url.getTime();
                const _key = this._GLOBAL.data.key;

                let _params = this._GLOBAL.qs.stringify({
                    openId: this._GLOBAL.userInfo.openId,
                    province: postData.province,
                    city: postData.city,
                    counterName: postData.store,
                    appointmentTime: postData.time,
                    name: postData.name,
                    mobile: postData.phone,
                    smscode: postData.code,
                    sign: this.$md5(_key + _timestamp).substring(0, 8),
                    timestamp: _timestamp
                        // 'Platform': this._GLOBAL.device.wechat ? 'wechat' : this._GLOBAL.device.weibo ? 'weibo' : '',
                        // 'Source': this._GLOBAL.userInfo.source,
                });

                this.axios({
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    url: "/LancomeEyes/ActiveDataRetention",
                    data: _params
                }).then(
                    response => {
                        console.log(response);
                        const data = response.data;

                        this.canSave = true;
                        if (data.Status) {
                            callback && callback();

                            // var _info = postData.phone + '|' + postData.name + '|' + postData.province + '|' +
                            //     postData.city + '|' + postData.store + '|' + postData.time;
                            _gsq.push(['T', 'GWD-002249', 'trackEvent', 'glp190606', '立即预约', '']);
                        } else {
                            // if(data.Msg.index)
                            alert(data.Msg);
                        }

                    },
                    reject => {
                        this.canSave = true;
                        // 网络异常
                        this.$refs.floatinglayer.$emit("show", "noNetWork");

                        if (window._gsTracker) {
                            _gsTracker.track('/targetpage/glp190606-pv3');
                        }
                    }
                );
            },

            getValidateCode() {
                let phone = this.$refs.phoneNum.value;
                let checkList = new this.Utils.checkList();
                if (!checkList.checkPhoneNum(phone)) return;

                //xhr请求
                // if (!this.isGetSmsCode) {
                // }
                if (!this.timeCountDown().startChangeTime(this, {})) return;
                this.sendSMSCode();
            },

            chsAgree() {
                this.clickAgree = !this.clickAgree;
            },

            showMsgFromFloatinglayer(data) {
                if (data[0] == "isPart" && data[1] == "done") {
                    WeixinJSBridge.call('closeWindow');
                    _gsq.push(['T', 'GWD-002249', 'trackEvent', 'glp190606', '重复预约']);
                }
                if (data[0] == "noNetWork" && data[1] == "done") {
                    _gsq.push(['T', 'GWD-002249', 'trackEvent', 'glp190606', '重新预约']);
                }
            },

            clickNextPage() {
                if (!this.canSave) return;


                let checkList = new this.Utils.checkList();
                let postData = {
                    province: this.$refs.province_sec.value,
                    city: this.$refs.city_sec.value,
                    store: this.$refs.store_sec.value,
                    time: this.$refs.time_sec.value,
                    name: this.$refs.nameVal.value,
                    phone: this.$refs.phoneNum.value,
                    code: this.$refs.codeNum.value
                };

                if (
                    checkList.checkAppointmentCounter({
                        选择省份: postData.province,
                        选择城市: postData.city,
                        选择柜台: postData.store,
                        选择时间: postData.time
                    }) &&
                    checkList.checkName(postData.name) &&
                    checkList.checkPhoneNum(postData.phone) &&
                    checkList.checkCodeNum(postData.code, 4) &&
                    checkList.checkPrivacy(this.clickAgree)
                ) {
                    //xhr请求
                    this.saveUserInfo(postData, () => {
                        this.canSave = false;
                        this.changePage();
                    });
                }
            },
            changePage() {
                this.$emit("listenPChange", ["to", "final"]);

                if (window._gsTracker) {
                    _gsTracker.track('/targetpage/glp190606-pv2');
                }
            }
        }
    };
</script>